# Goose
GOOSE_DRIVER=mysql
GOOSE_DBSTRING='example:example@tcp(127.0.0.1:3306)/example?charset=utf8mb4&parseTime=True&loc=UTC'
GOOSE_MIGRATION_DIR=internal/db/migrations

# Actions
AWS_REGION=
AWS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_BUCKET=
AWS_ENDPOINT=
